body {
	margin: 0;
	padding: 5px;
	background-color: #111;
}

.framing-device {
	max-width: 1000px;
	height: 100%;
	margin: 0 auto;
}

.option {
	width: 19%;
	
	display: inline-block;
	float: left;

	color: white;
	background-color: #333;

	margin: 2px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	text-align: center;
}

.option img {
	height: 64px;
	margin: 0;
	padding: 0;
}

.header { min-height: 80px; padding: 4px; }
.icons { min-height: 140px; }
.buttons {min-height: 50px;}
.qr { min-height: 250px; margin: 0}
.qr img { height: 128px;}

p {padding: 0 5px; margin-top: 10px; }

.btn {
	margin: 4px;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	text-shadow: 1px 1px 3px #666666;
	font-family: Arial;
	color: #ffffff;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

a {
	text-decoration: none;
	color: white;
}

.desktop-display img { width: 64px; }
.keyboard img { width: 64px; }
.mobile img { width: 64px; }
.controller img {width: 64px; }

#qr-controller { margin-left: 32px; }
#qr-mobile { margin-left: 32px; }

.url { font-family: monospace; }