!!!5
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %link{rel: "stylesheet", type: "text/css", href: "/client/stylesheet/index.css"}
    %script{'data-main': "/client/javascript/controller.js", src: "/client/javascript/ext/require.js"}
    %script{src: "/client/javascript/config.js"}
  %body
    #controller