!!!5
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %link{rel: "stylesheet", type: "text/css", href: "/client/stylesheet/lib.css"}
    %script{'data-main': "/client/javascript/diagnostics.js", src: "/client/javascript/ext/require.js"}
    %script{src: "/client/javascript/config.js"}
    %meta{name: "viewport", content:"width=device-width"}
  %body
    #controller
      #w
      #h
      #x
      #y
      .left.controller
      .right.controller