!!!5
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %link{rel: "stylesheet", type: "text/css", href: "/client/stylesheet/lib.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/client/stylesheet/game.css"}
    %script{'data-main': "/client/javascript/display.js", src: "/client/javascript/ext/require.js"}
    %script{src: "/client/javascript/config.js"}
  %body
    .icons
      .disconnected
        %img{src: "/client/site/img/disconnected.png"}
      .paused
        %img{src: "/client/site/img/paused.png"}
      .player-count
        %p#player-count 0
      .players
        %img{src: "/client/site/img/players.png"}
      .observer-count
        %p#observer-count 0
      .observers
        %img{src: "/client/site/img/observers.png"}
      .music-enabled
        %img{src: "/client/site/img/music-enabled.png", altsrc: "/client/site/img/music-disabled.png"}
      .sound-enabled
        %img{src: "/client/site/img/sound-enabled.png", altsrc: "/client/site/img/sound-disabled.png"}
    #paused
    #canvas