!!!5
%html{lang: "en"}
  %head
    %meta{charset: "UTF-8"}
    %link{rel: "stylesheet", type: "text/css", href: "/inch/css/lib.css"}
    %link{rel: "stylesheet", type: "text/css", href: "/game/css/game.css"}
    %meta#level{name: "data", 'data-level': level}
    :javascript
      var level = document.querySelector('#level').dataset.level
    %script{'data-main': "/inch/js/primary.js", src: "/inch/js/ext/require.js"}
    %script{src: "/inch/js/config.js"}
  %body
    .icons
      .icon.fullscreen
        %img{src: "/inch/images/site/fullscreen.png"}
      .icon.sound-on
        %img{src: "/inch/images/site/sound_on.png"}
      .icon.sound-off
        %img{src: "/inch/images/site/sound_off.png"}
      .icon.disconnected
        %img{src: "/inch/images/site/disconnected.png"}
      .icon.paused
        %img{src: "/inch/images/site/paused.png"}
      .icon.player-count
        %p#player-count 0
      .icon.players
        %img{src: "/inch/images/site/players.png"}
      .icon.observer-count
        %p#observer-count 0
      .icon.observers
        %img{src: "/inch/images/site/observers.png"}
    #paused
    #canvas